<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1>Todos</h1>

<div class="lists">
  <% @lists.each do |list| %>
    <div class="list">
      <% list.todos.each do |todo| %>
        <%= render todo %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>
